<%-include("./partials/header-media-edit.ejs") %>
<body>
  <div class="navbar">
    <a href="/"><i class="fas fa-home"></i>Home</a>
    <div class="dropdown">
      <button class="dropbtn">ALL DEPARTMENT
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/acro">Add New User</a>
        <a href="/add-user">All Data</a>
        <a href="/print/1">Print</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">MARKETING & COMMERCIAL 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/marketing">Add New User</a>
        <a href="marketing-data">All Data</a>
        <a href="/marketing-print/1">Print</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">BCB & OFFICE 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/bcb">Add New User</a>
        <a href="/bcb-data">All Data</a>
        <a href="/bcb-print/1">Print</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Law & Force 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/law">Add New User</a>
        <a href="/law-data">All Data</a>
        <a href="/law-print/1">Print</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">PMOA
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/pmoa">Add New User</a>
        <a href="/pmoa-data">All Data</a>
        <a href="/pmoa-print/1">Print</a>
      </div>
  </div> 
    <div class="dropdown">
      <button class="dropbtn">MEDIA 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/media">Add New User</a>
        <a href="/add-media">All Data</a>
        <a href="/media-print/1">Media Print</a>
      </div>
    </div> 
  </div>
    <div class="main-block">
      <h1>Registration</h1>
      <form action="/media-update/<%=data._id %>"
        method="post">
        <hr>
        <div class="account-type">
          <a style="padding-right:5px" href="/"><i class="fas fa-home"></i></a>
          <a style="padding-left:5px; text-decoration:none " href="/add-media"><i class="fas fa-angle-double-left"></i> All Media</a>
          <a style="padding-left: 4px; text-decoration:none " href="/media-print/1"></i> Media-Print</a>
        </div>
        <hr>
        <div class="colums">
          <div class="form-left">
            <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
            <input type="text" name="manualnumber" id="manualnumber" placeholder="MANUAl SL" value="<%=data.manualnumber %>" required/>
          </div>
          <div class="form-right">
            <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
            <input type="text" name="fullname" id="fullname" placeholder="FULL NAME" value="<%= data.fullname %>" required/>
          </div>
          <div class="form-left">
            <label id="icon" for="name"><i class="fas fa-user"></i></label>
            <input type="text" name="designation" id="designation" placeholder="DESIGNATION" value="<%= data.designation %>" required/>
          </div>
          <div class="form-right">
            <label id="icon" for="name"><i class="fas fa-user"></i></label>
            <input type="text" name="organization" id="organizationname" placeholder="ORGANIZATION" value="<%=data.organization %>" required/>
          </div>
          <div class="form-left">
            <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
            <input type="text" name="nidno" id="nidpassport" placeholder="NID/PASSPORT/BIRTH ID" value="<%= data.nidno %>" required/>
          </div>
          <div class="form-right">
            <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
            <input type="text" name="phone" id="nidpassport" placeholder="PHONE NUMBER" value="<%= data.phone %>" required/>
          </div>
          <div class="form-left">
            <label id="icon" for="name">CARD NAME: <!-- <i class="fas fa-envelope"></i> --></label> 
            <select id="cars" name="cardname" value="<%= data.cardname %>">
            <option value="SELECT AN ITEM">SELECT AN ITEM</option>
            <option value="TYPE A">TYPE A</option>
            <option value="TYPE B">TYPE B</option>
            <option value="TYPE C">TYPE C</option>
            <option value="TYPE G">TYPE G</option>
            <option value="OFFICIAL BCB">OFFICIAL BCB</option>
            <option value="STAFF BCB">STAFF BCB</option>
            <option value="ACU">ACU</option>
            <option value="ORGANIZINE COMMITTEE">ORGANIZINE COMMITTEE</option>
            <option value="SUB-COMMITTEE">SUB-COMMITTEE</option>
            <option value="T & S">T & S</option>
            <option value="LOGISTICS & PROTOCOL">LOGISTICS & PROTOCOL</option>
            <option value="VENDOR">VENDOR</option>
            <option value="SERVICE PROVIDER">SERVICE PROVIDER</option>
            <option value="ON DUTY">ON DUTY</option>
            <option value="SPONSOR">SPONSOR</option>
            <option value="MEDIA CENTER">MEDIA CENTER</option>
            <option value="SPECIAL ENCLOSURE">SPECIAL ENCLOSURE</option>
            <option value="MEDIA">MEDIA</option>
            <option value="ANTI-DOPING">ANTI-DOPING</option>
            <option value="CLEANER">CLEANER</option>
            </select>
          </div>
          <div class="form-right">
            <label id="icon" for="name">VENUES: <!-- <i class="fas fa-envelope"></i> --></label> 
            <select id="cars" name="vanue" value="<%= data.vanue %>" >
            <option value="SELECT AN ITEM">SELECT AN ITEM</option>
            <option value="DHAKA">DHAKA</option>
            <option value="CHATTOGRAM">CHATTOGRAM</option>
            <option value="SYLHET">SYLHET</option>
            <option value="ALL VENUE">ALL VENUE</option>
            </select>
          </div>
          <div class="form-left">
            <label id="icon" for="name">ZONE ONE: <!-- <i class="fas fa-envelope"></i> --></label> 
            <select id="cars" name="zoneone" value="<%= data.zoneone %>">
            <option value="SELECT AN ITEM">SELECT AN ITEM</option>
            <option selected="selected" value="1">1</option>
            </select>
          </div>
          <div class="form-right">
            <label id="icon" for="name">ZONE TWO: <!-- <i class="fas fa-envelope"></i> --></label> 
            <select id="cars" name="zonetwo" value="<%=data.zonetwo %>">
            <option value="SELECT AN ITEM">SELECT AN ITEM</option>
            <option value="X">X</option>
            <option value="2">2</option>
            </select>
          </div>
          <div class="form-left">
            <label id="icon" for="name">ZONE THREE: <!-- <i class="fas fa-envelope"></i> --></label> 
            <select id="cars" name="zonethree" value="<%=data.zonethree %>">
            <option value="SELECT AN ITEM">SELECT AN ITEM</option>
            <option value="X">X</option>
            <option value="3">3</option>
            </select>
          </div>
          <div class="form-right">
            <label id="icon" for="name">ZONE FOUR:<!-- <i class="fas fa-envelope"></i> --></label> 
            <select id="cars" name="zonefour"  value="<%=data.zonefour %>">
            <option value="SELECT AN ITEM">SELECT AN ITEM</option>
            <option value="X">X</option>
            <option value="4">4</option>
            </select>
          </div>
          <div class="form-left">
            <label id="icon" for="name">ZONE FIVE: <!-- <i class="fas fa-envelope"></i> --></label> 
            <select id="cars" name="zonefive" value="<%data.zonefive%>">
            <option value="SELECT AN ITEM">SELECT AN ITEM</option>
            <option value="X">X</option>
            <option value="5">5</option>
            </select>
          </div>
          <div class="form-right">
            <label id="icon" for="name">ZONE SIX:<!-- <i class="fas fa-envelope"></i> --></label> 
            <select id="cars" name="zonesix" value="<%= data.zonesix %>" >
            <option value="SELECT AN ITEM">SELECT AN ITEM</option>
            <option value="X">X</option>
            <option value="6">6</option>
            </select>
          </div>
            <div class="form-left">
              <label id="icon" for="name">Form No:</label>
              <input type="text" name="formno" id="name" placeholder="FORM NO" value="<%=data.formno %>" required/>
            </div>
            <div class="form-right">
              <label id="icon" for="cardtype"> CARD TYPE:</label>
              <input type="text" name="cardfooter" id="cardname" placeholder="CARD TYPE" value="<%=data.cardfooter %>">
            </div>
      </div>
          <hr>
          <div class="btn-block">
            <p>By clicking Register</p>
            <button type="submit" value="Submit">Update</button>
          </div>
      </form>
      </div>
  </body>
</html>